In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

In [34]:
df = pd.read_csv("./pokemon-images-and-types/pokemon.csv")
df1 = pd.read_csv("./pokemon/pokemon_alopez247.csv")

In [35]:
names = df.iloc[:,0]
names = [name.lower() for name in names]

In [36]:
names1 = df1.iloc[:,1].values
names1 = [name.lower() for name in names1]

In [39]:
df.iloc[:, 0] = names
df1.iloc[:, 1] = names1

In [65]:
dff = pd.merge(df, df1, how='inner', on='Name')

In [66]:
dff.head()

,Name,Type1,Type2,Number,Type_1,Type_2,Total,HP,Attack,Defense,...,Color,hasGender,Pr_Male,Egg_Group_1,Egg_Group_2,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style
0,bulbasaur,Grass,Poison,1,Grass,Poison,318,45,49,49,...,Green,True,0.875,Monster,Grass,False,0.71,6.9,45,quadruped
1,ivysaur,Grass,Poison,2,Grass,Poison,405,60,62,63,...,Green,True,0.875,Monster,Grass,False,0.99,13.0,45,quadruped
2,venusaur,Grass,Poison,3,Grass,Poison,525,80,82,83,...,Green,True,0.875,Monster,Grass,True,2.01,100.0,45,quadruped
3,charmander,Fire,NaN,4,Fire,NaN,309,39,52,43,...,Red,True,0.875,Monster,Dragon,False,0.61,8.5,45,bipedal_tailed
4,charmeleon,Fire,NaN,5,Fire,NaN,405,58,64,58,...,Red,True,0.875,Monster,Dragon,False,1.09,19.0,45,bipedal_tailed

In [69]:
mdf = dff.drop(['Type_1','Type_2'], axis=1)

In [71]:
mdf.to_csv('pokemon.csv')

In [72]:
mdf.to_json('pokemon.json')